<div class="container">
        <div class="row">
                <div class="col-sm" style="max-width: 200px; margin: 5px;">
                        <form>
                                <div class="form-group">
                                        <mat-form-field appearance="fill">
                                                <mat-label>Size</mat-label>
                                                <mat-select [(value)]="selectedSize">
                                                  <mat-option value="1">small</mat-option>
                                                  <mat-option value="2">medium</mat-option>
                                                  <mat-option value="3">Large</mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                </div>
                        </form>
                </div>
                <div class="col-sm" style="max-width: 200px; margin: 5px;">
                        <form>
                                <div class="form-group">
                                        <mat-form-field appearance="fill">
                                                <mat-label>Parts Count</mat-label>
                                                <mat-select [(value)]="selectedValue">
                                                  <mat-option value="4">4</mat-option>
                                                  <mat-option value="16">16</mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                </div>
                        </form>
                </div>
                <div class="col-sm align-self-center">
                                        <button style="border-color: rgb(84, 182, 101); min-width:150px; align-self: center;" type="button"
                                                class="btn btn-info" (click)="run()">run</button>             
                </div>
        </div>
        <div class="row" class="justify-content-center" >
                <mat-spinner class="align-self-center" *ngIf="loading"></mat-spinner>
        </div>
        <div class="row" style="height: 50px;">
                <mat-progress-bar class="align-self-center" mode="determinate" [value]="progress" style="max-width: 800px;height: 20px;"></mat-progress-bar>
        </div>
</div>